Lea el archivo 'winemag-data-130k-v2.csv' y realice lo siguiente:

Explore el dataframe según lo visto en clase

Realice al menos 4 renombre de columna y 3 creación de nuevas columnas según criterio. Deberá crear las columnas que crea conveniente. Ejemplo: Según el país etiquetelos según continente.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/winemag-data-130k-v2.csv')

In [4]:
# Renombrar columnas
df.rename(columns={
    'price': 'precio',
    'country': 'pais',
    'description': 'descripcion',
    'points': 'puntos'
}, inplace=True)

In [5]:
# Crear la columna 'precio en soles', asumiendo que el precio está en dólares y el cambio es 1 USD = 3.72 PEN
df['precio en soles'] = df['precio'] * 3.72

In [6]:
print(df.head())

   Unnamed: 0      pais                                        descripcion  \
0           0     Italy  Aromas include tropical fruit, broom, brimston...
1           1  Portugal  This is ripe and fruity, a wine that is smooth...
2           2        US  Tart and snappy, the flavors of lime flesh and...
3           3        US  Pineapple rind, lemon pith and orange blossom ...
4           4        US  Much like the regular bottling from 2012, this...

                          designation  puntos  precio           province  \
0                        Vulkà Bianco      87     NaN  Sicily & Sardinia
1                            Avidagos      87    15.0              Douro
2                                 NaN      87    14.0             Oregon
3                Reserve Late Harvest      87    13.0           Michigan
4  Vintner's Reserve Wild Child Block      87    65.0             Oregon

              region_1           region_2         taster_name  \
0                 Etna                NaN       Kerin O’Keefe
1                  NaN                NaN          Roger Voss
2    Willamette Valley  Willamette Valley        Paul Gregutt
3  Lake Michigan Shore                NaN  Alexander Peartree
4    Willamette Valley  Willamette Valley        Paul Gregutt

  taster_twitter_handle                                              title  \
0          @kerinokeefe                  Nicosia 2013 Vulkà Bianco  (Etna)
1            @vossroger      Quinta dos Avidagos 2011 Avidagos Red (Douro)
2           @paulgwine       Rainstorm 2013 Pinot Gris (Willamette Valley)
3                   NaN  St. Julian 2013 Reserve Late Harvest Riesling ...
4           @paulgwine   Sweet Cheeks 2012 Vintner's Reserve Wild Child...

          variety               winery  precio en soles
0     White Blend              Nicosia              NaN
1  Portuguese Red  Quinta dos Avidagos            55.80
2      Pinot Gris            Rainstorm            52.08
3        Riesling           St. Julian            48.36
4      Pinot Noir         Sweet Cheeks           241.80

In [7]:
#alcular el precio promedio#
precio_promedio = df['precio'].mean()

In [8]:
# Crear una nueva columna 'precio alto o bajo' basada en el precio promedio
df['precio alto o bajo'] = df['precio'].apply(lambda x: 'alto' if x > precio_promedio else 'bajo')

In [9]:
print(df.head(2))

   Unnamed: 0      pais                                        descripcion  \
0           0     Italy  Aromas include tropical fruit, broom, brimston...
1           1  Portugal  This is ripe and fruity, a wine that is smooth...

    designation  puntos  precio           province region_1 region_2  \
0  Vulkà Bianco      87     NaN  Sicily & Sardinia     Etna      NaN
1      Avidagos      87    15.0              Douro      NaN      NaN

     taster_name taster_twitter_handle  \
0  Kerin O’Keefe          @kerinokeefe
1     Roger Voss            @vossroger

                                           title         variety  \
0              Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1  Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red

                winery  precio en soles precio alto o bajo
0              Nicosia              NaN               bajo
1  Quinta dos Avidagos             55.8               bajo

In [10]:
# Mapeo de países a continentes
continentes = {
    'Italy': 'Europe', 'Portugal': 'Europe', 'US': 'North America', 
    'Spain': 'Europe', 'France': 'Europe', 'Germany': 'Europe', 
    'Argentina': 'South America', 'Chile': 'South America', 
    'Australia': 'Oceania', 'Austria': 'Europe', 'South Africa': 'Africa', 
    'New Zealand': 'Oceania', 'Israel': 'Asia', 'Hungary': 'Europe', 
    'Greece': 'Europe', 'Romania': 'Europe', 'Mexico': 'North America', 
    'Canada': 'North America', 'Turkey': 'Asia', 'Czech Republic': 'Europe',
    'Slovenia': 'Europe', 'Luxembourg': 'Europe', 'Croatia': 'Europe', 
    'Georgia': 'Asia', 'Uruguay': 'South America', 'England': 'Europe', 
    'Lebanon': 'Asia', 'Serbia': 'Europe', 'Brazil': 'South America', 
    'Moldova': 'Europe', 'Morocco': 'Africa', 'Peru': 'South America', 
    'India': 'Asia', 'Bulgaria': 'Europe', 'Cyprus': 'Europe', 
    'Armenia': 'Asia', 'Switzerland': 'Europe', 'Bosnia and Herzegovina': 'Europe',
    'Ukraine': 'Europe', 'Slovakia': 'Europe', 'Macedonia': 'Europe'
}

In [11]:
# Aplicar el mapeo para crear la columna 'continente'
df['continente'] = df['pais'].map(continentes)

# Mostrar las primeras filas del dataframe modificado para verificar los cambios
print(df[['pais', 'continente', 'precio', 'precio en soles', 'precio alto o bajo']].head())

       pais     continente  precio  precio en soles precio alto o bajo
0     Italy         Europe     NaN              NaN               bajo
1  Portugal         Europe    15.0            55.80               bajo
2        US  North America    14.0            52.08               bajo
3        US  North America    13.0            48.36               bajo
4        US  North America    65.0           241.80               alto

In [12]:
print(df.head(2))

   Unnamed: 0      pais                                        descripcion  \
0           0     Italy  Aromas include tropical fruit, broom, brimston...
1           1  Portugal  This is ripe and fruity, a wine that is smooth...

    designation  puntos  precio           province region_1 region_2  \
0  Vulkà Bianco      87     NaN  Sicily & Sardinia     Etna      NaN
1      Avidagos      87    15.0              Douro      NaN      NaN

     taster_name taster_twitter_handle  \
0  Kerin O’Keefe          @kerinokeefe
1     Roger Voss            @vossroger

                                           title         variety  \
0              Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1  Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red

                winery  precio en soles precio alto o bajo continente
0              Nicosia              NaN               bajo     Europe
1  Quinta dos Avidagos             55.8               bajo     Europe

#Genere 4 reportes por agrupamiento de datos. Deberá elegir que reportes realizar#

In [13]:
idx = df.groupby('continente')['puntos'].idxmax()

In [14]:
mejores_vinos_por_continente = df.loc[idx, ['continente', 'pais', 'winery', 'variety', 'puntos', 'descripcion']]

In [15]:
print(mejores_vinos_por_continente)

          continente          pais                       winery  \
9912          Africa  South Africa                     De Toren
6673            Asia         India                         Sula
7335          Europe         Italy                   Avignonesi
45798  North America            US                    Cardinale
345          Oceania     Australia  Chambers Rosewood Vineyards
8869   South America     Argentina                 Pascual Toso

                         variety  puntos  \
9912    Bordeaux-style Red Blend      95
6673                      Shiraz      93
7335            Prugnolo Gentile     100
45798         Cabernet Sauvignon     100
345                       Muscat     100
8869   Cabernet Sauvignon-Malbec      95

                                             descripcion
9912   Only 95 cases were made of this Bordeaux-style...
6673   The nose carries notes of cassis, blackberry a...
7335   Thick as molasses and dark as caramelized brow...
45798  Tasted in a flight of great and famous Napa wi...
345    This wine contains some material over 100 year...
8869   If you love massive Argentine reds with purity...

SEGUNDO REPORTE

In [16]:
print(df.columns)

Index(['Unnamed: 0', 'pais', 'descripcion', 'designation', 'puntos', 'precio',
       'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery',
       'precio en soles', 'precio alto o bajo', 'continente'],
      dtype='object')

In [17]:
precio_promedio = df['precio en soles'].mean()

# Crear una nueva columna 'precio alto o bajo' basada en el precio promedio
df['precio alto o bajo'] = df['precio en soles'].apply(lambda x: 'Alto' if x > precio_promedio else 'Bajo')

# Ordenar el DataFrame por el precio alto o bajo de manera descendente y seleccionar las columnas requeridas
df_reporte_precio = df.sort_values(by='precio alto o bajo', ascending=False)[['precio alto o bajo', 'precio en soles']]

In [140]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openpyxl) (1.1.0)

In [18]:
print(df_reporte_precio)

      precio alto o bajo  precio en soles
0                   Bajo              NaN
39803               Bajo            33.48
39843               Bajo            63.24
39845               Bajo            37.20
39846               Bajo           111.60
...                  ...              ...
49323               Alto           706.80
49322               Alto           967.20
49321               Alto           837.00
49320               Alto           279.00
46156               Alto           193.44

[65499 rows x 2 columns]

In [20]:
df_reporte_precio.to_excel("reporteprecio.xlsx",index=False,engine='openpyxl')